<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"> 
</head>
<body>
	<header>
		<button type="button"
		onclick="document.getElementById('id1').style.color = 'red'"
		id="home_button">Home</button>
  
		<button type="button"
		onclick="document.getElementById('id1').style.color = 'red'"
		id="about_button">About</button>  
        </header>

	<div id="box2"></div>

	<div id="box3"> </div>

	<div id="box4"> </div>

	<footer> </footer>
</body>
</html>
